################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sample/Xrm.CI.Framework.Sample/.vs
/Sample/Xrm.CI.Framework.Sample/packages
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.CI.Tools/obj/Debug
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.CI.Tools/bin
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.CRMPackage/bin/Debug
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.CRMPackage/obj
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.Plugins/bin/Debug
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.Plugins/obj
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.UIAutomation/bin/Debug
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.UIAutomation/obj
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.WebResources/bin
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.WebResources/obj
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.WFActivities/bin/Debug
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.WFActivities/obj
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.CI.Tools/obj/Release
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.CRMPackage/bin/Release
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.Plugins/bin/Release
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.UIAutomation/bin/Release
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.WFActivities/bin/Release
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.IntegrationTests/bin/Debug
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.IntegrationTests/obj/Debug
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.Plugins.UnitTests/bin
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.Plugins.UnitTests/obj
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.IntegrationTests/bin/Release
/Sample/Xrm.CI.Framework.Sample/Xrm.CI.Framework.Sample.IntegrationTests/obj/Release
/Sample/Xrm.CI.Framework.Sample/Customizations/bin/Release
/Sample/Xrm.CI.Framework.Sample/Customizations/obj/Release
/Sample/Xrm.CI.Framework.Sample/Customizations/bin/Debug
/Sample/Xrm.CI.Framework.Sample/Customizations/obj/Debug
/Sample/Xrm.CI.Framework.Sample/Data/obj/Debug
*.user
/Sample/Xrm.CI.Framework.Sample/Data/bin/Debug
